# **RA2111003010298 - Ganesh K**

## 1) Write a  Python program to perform arithmetic operations on two integers.

In [ ]:
#RA2111003010298

n1=int(input("Enter the first number "))
n2=int(input("Enter the second number "))
n=int(input("Enter the operation you want to perform:\n1)Addition\n2)subtraction\n3)multiplication\n4)division\n"))
print("The Result is: ")
if n==1:
  print(n1+n2)
elif n==2:
  print(n1-n2)
elif n==3:
  print(n1*n2)
elif n==4:
  print("The quiotient is " ,n1//n2 ,"and the remainder is " ,n1%n2)

Enter the first number 4
Enter the second number 5
Enter the operation you want to perform:
1)Addition
2)subtraction
3)multiplication
4)division
2
The Result is:
-1

## 2) Write a Python Program to find area of a triangle.

In [ ]:
#RA2111003010298

from math import sqrt
s1=int(input("Enter the side 1 length "))
s2=int(input("Enter the side 2 length "))
s3=int(input("Enter the side 3 length "))
s=(s1+s2+s3)/2
area=sqrt(s*(s-s1)*(s-s2)*(s-s3))
print("The area of triangle is",area)

Enter the side 1 length 3
Enter the side 2 length 4
Enter the side 3 length 5
The area of triangle is 6.0

## 3)Write a Python code to remove 6 characters from start of given string“Embedded Systems”

In [ ]:
#RA2111003010298

s="Embedded Systems"
sn=s[6:]
sn

'ed Systems'

## **Write the Python code to find length of String “Computer Science”. Replace science with Electronics.**

In [ ]:
#RA2111003010298

s="Computer Science"
length=len(s)
newstr=s[:9]+"Electronics"
newstr

'Computer Electronics'

## **Write the Python program to reverse a string from user input**

In [ ]:
#RA2111003010298

s=input("enter a string input")
reversestring=s[::-1]
reversestring

enter a string inputGANESH

'HSENAG'

## **Write Python program to find area of a circle**

In [ ]:
#RA2111003010298

from math import pi
radius=float(input("enter the radius"))
area=pi*(radius**2)
area

enter the radius7

153.93804002589985

What is the output?
>>> str1 = 'Hello '
>>>str2 = ' World!'
print (str1 + str2)

In [ ]:
#RA2111003010298

str1="Hello"
str2="World"
print(str1+str2)

HelloWorld

# **WEEK 2**

## **Write a function that returns the maximum of two numbers. (Use if loop)**

In [ ]:
#RA2111003010298

n1=int(input("enter the first number "))
n2=int(input("Enter the second number "))
if n1>n2:
  print(n1,"is greater than", n2)
else:
  print(n2,"is greater than", n1)

enter the first number 4
Enter the second number 2
4 is greater than 2

Write a function called divisible that takes a number. ( Use if loop)
* If the number is divisible by 3, it should return “Three”.
* If it is divisible by 5, it should return “Five”.
* If it is divisible by both 3 and 5, it should return “Three and Five”
Otherwise, it should return the same number.

In [ ]:
#RA2111003010298

def divisible(n):
  if n%15==0:
    print("THREE AND FIVE")
  elif n%5==0:
    print("FIVE")
  elif n%3==0:
    print("THREE")
n=int(input("enter the number"))
divisible(n)

enter the number15
THREE AND FIVE

Write a function for checking the speed of drivers. This function should have one
parameter: speed.
* a) If speed is less than 70, it should print “Ok”.
* b) Otherwise, for every 5km above the speed limit (70), it should give the driver
one demerit point and print the total number of demerit points. For example,
if the speed is 80, it should print:“Points:2”.
* c) If the driver gets more than 12 points, the function should print: “License
suspended”

In [ ]:
#RA2111003010298

def checking(speed):
  if speed<=70:
    print("Ok")
  elif speed >70:
    d=(speed-70)//5
    if d<=12:
      print("points:", points)
    elif d>12:
      print("License Suspended")
speed=int(input("enter the speed"))
checking(speed)

enter the speed150
License Suspended

Write a function(Use for loop) called showNumbers that takes a parameter
called limit. It should print all the numbers between 0 and limit with a label to
identify the even and odd numbers. For example, if the limit is 3, it should print:
* a) 0 EVEN
* b) 1 ODD
* c) 2 EVEN
* d) 3 ODD

In [ ]:
#RA2111003010298

def shownumbers():
  for i in range(0,n+1):
    if i%2==0:
      print(f"{i} EVEN")
    else:
      print(f"{i} ODD")
n=int(input("Enter your limit : "))
shownumbers()

Enter your limit : 4
0 EVEN
1 ODD
2 EVEN
3 ODD
4 EVEN

Write a program using while loop to check the number n is less than seven. If it isless than seven, print n is less than 7 and add 1 to n. If it is greater than 7,  print n is
not less than 7.

In [ ]:
#RA2111003010298

n=int(input("Enter your number : "))
if n<7:
      print(f"{n} is less than 7")
      n+=1
      print(f"The new value of n is {n}")
else:
      print("n is not less than 7")

Enter your number : 45
n is not less than 7

#**POST LAB**

In [ ]:
#RA2111003010298

def is_prime(number):
    if number < 2:
        return False
    for i in range(2, int(number ** 0.5) + 1):
        if number % i == 0:
            return False
    return True
def print_primes(limit):
    if limit < 2:
        print("No prime numbers in the given range.")
        return
    primes = []
    for num in range(2, limit + 1):
        if is_prime(num):
            primes.append(num)
    print("Prime numbers between 0 and", limit, "are:", primes)
limit = 50
print_primes(limit)

Prime numbers between 0 and 50 are: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [ ]:
#RA2111003010298

number = int(input("enter the number "))
result = 1
for i in range(1, number + 1):
    result *= i
print(f"The factorial of {number} is: {result}")

enter the number 5
The factorial of 5 is: 120

#**WEEK 3**

### Write a python program to interchange first and last elements in a list.

In [ ]:
#RA2111003010298

l = input("Enter a list of elements separated by spaces: ").split()
l = [int(element) for element in l]
if len(l) >= 2:
    l[0], l[-1] = l[-1], l[0]
    print("Modified List:", l)
else:
    print("List should have at least two elements.")

Enter a list of elements separated by spaces: 1 2 3 4 5
Modified List: [5, 2, 3, 4, 1]

### Write a Python program to find N largest and smallest elements from the list

In [ ]:
#RA2111003010298

l = [10, 2, 30, 4, 50, 6, 70, 8, 90]
N = int(input("enter the value of N"))
pl = list(set(l))
sortl= sorted(pl)
sl = sortl[:N]
ll = sortl[-N:]
print(f"{N} largest elements: {ll}")
print(f"{N} smallest elements: {sl}")

enter the value of N3
3 largest elements: [50, 70, 90]
3 smallest elements: [2, 4, 6]

### Write a python program to find the cumulative sum of elements in a list dont write it in function

In [ ]:
#RA2111003010298

l = [1, 2, 3, 4, 5]
sum = 0
sum_list = []
for num in l:
    sum += num
    sum_list.append(sum)
print("Original List:", l)
print("Cumulative Sum List:", sum_list)

Original List: [5, 2, 3, 4, 1]
Cumulative Sum List: [5, 7, 10, 14, 15]

### Write a python program to find positive numbers from a list.

In [ ]:
#RA2111003010298

l = [-1, 2, -3, 4, -5, 6, -7, 8]
pnum = []
for num in l:
    if num > 0:
        pnum.append(num)
print("Original List:", l)
print("Positive Numbers:", pnum)

Original List: [-1, 2, -3, 4, -5, 6, -7, 8]
Positive Numbers: [2, 4, 6, 8]

### Write a Python program to generate and print a list of first and last 5 elements where the values are square of numbers between 1 and 30 (both included).

In [ ]:
#RA2111003010298

s_list = [i ** 2 for i in range(1, 31)]
print("First 5 elements:", s_list[:5])
print("Last 5 elements:", s_list[-5:])

First 5 elements: [1, 4, 9, 16, 25]
Last 5 elements: [676, 729, 784, 841, 900]

# **POST LAB**

### Write a Python | Program to create two lists with EVEN numbers and ODD numbers from a list.

In [ ]:
#RA2111003010298

l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
evenlist = []
oddlist = []
for num in l:
    if num % 2 == 0:
        evenlist.append(num)
    else:
        oddlist.append(num)
print("Original List:", l)
print("Even Numbers:", evenlist)
print("Odd Numbers:", oddlist)

Original List: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Even Numbers: [2, 4, 6, 8, 10]
Odd Numbers: [1, 3, 5, 7, 9]

### Write a Python program to multiply all numbers of a list

In [ ]:
#RA2111003010298

l = [1, 2, 3, 4, 5]
result = 1
for num in l:
    result *= num
print("Original List:", l)
print("Result of Multiplication:", result)

Original List: [1, 2, 3, 4, 5]
Result of Multiplication: 120

# **WEEK 4**

### Write a Python script to sort (ascending and descending) a dictionary by value

In [ ]:
#RA2111003010298

d={'a':1,'d':4,'b':2,'c':3}
dl=list(d.items())
print(dict(dl))
dl.sort()
print("Ascending order: ",dict(dl))
dl.sort(reverse=True)
print("Decending order: ",dict(dl))

{'a': 1, 'd': 4, 'b': 2, 'c': 3}
Ascending order:  {'a': 1, 'b': 2, 'c': 3, 'd': 4}
Decending order:  {'d': 4, 'c': 3, 'b': 2, 'a': 1}

### Write a Python Program to generate a temperature profile dictionary (values in range:30 to 100) for ten days randomly (from august 1 to august 31) and check whether august 10 data exist in a dictionary or not. (Key=date,value=temperate value)

In [ ]:
#RA2111003010298

import random
tempProf = {}
for i in range(11):
    x = random.randrange(1,31)
    y = random.randrange(30,100)
    tempProf[x]=y
print("Day\t\t Temperature")
for day,temp in tempProf.items():
    print("August ",day,"\t",temp)
flag = 11 in tempProf
if flag == False:
    print("Does not exist")
else:
    print('It exists')

Day		 Temperature
August  4 	 45
August  14 	 46
August  29 	 50
August  21 	 39
August  18 	 88
August  25 	 38
August  13 	 75
August  12 	 42
August  8 	 66
August  6 	 78
Does not exist

### In program 2, find the count of temperature 30,40 in the dictionary.

In [ ]:
#RA2111003010298

import random
tempProf = {}
c1=0
c2=0
for i in range(11):
    x = random.randrange(1,31)
    y = random.randrange(30,100)
    tempProf[x]=y
print("Day\t\t Temperature")
for day,temp in tempProf.items():
    print("August ",day,"\t",temp)
for a in tempProf:
    if tempProf[a]==30:
        c1+=1
    if tempProf[a]==40:
        c2+=1
print("count of temperature 30: ",c1)
print("count of temperature 40: ",c2)

Day		 Temperature
August  17 	 61
August  22 	 98
August  3 	 36
August  8 	 58
August  1 	 32
August  30 	 89
August  5 	 91
August  15 	 41
count of temperature 30:  0
count of temperature 40:  0

### Repeat the program 2 for July month and write a python program to concatenate the two dictionaries into one dictionary named July_aug_temp.

In [ ]:
#RA2111003010298

import random
from collections import defaultdict
tempProf_july = {}
tempProf_aug = {}
july_aug_temp = defaultdict(list)
for i in range(0,10):
    x = random.randint(1,31)
    y = random.randint(30,100)
    s1="July "+str(x)
    tempProf_july[s1]=y
    m = random.randint(1,31)
    n = random.randint(30,100)
    s2="August "+str(m)
    tempProf_aug[s2]=n
for tempProf in (tempProf_july, tempProf_aug):
    for key, value in tempProf.items():
        july_aug_temp[key].append(value)
print("Day\t\t Temperature")
for day,temp in july_aug_temp.items():
    print(day," \t",temp[0])

Day		 Temperature
July 2  	 74
July 7  	 94
July 24  	 47
July 11  	 65
July 20  	 38
July 1  	 69
July 16  	 83
July 17  	 69
August 15  	 43
August 26  	 64
August 23  	 94
August 25  	 30
August 30  	 60
August 24  	 32
August 13  	 33
August 12  	 64

### Write a Python Program to multiply all the items in the dictionary “July_aug_temp” which is generated in program 4 and find average temperate for the two months.

In [ ]:
#RA2111003010298

import random
from collections import defaultdict
tempProf_july = {}
tempProf_aug = {}
july_aug_temp = defaultdict(list)
sumTemp = 0
count = 0
for i in range(0,10):
    x = random.randint(1,31)
    y = random.randint(30,100)
    s1="July "+str(x)
    tempProf_july[s1]=y
    m = random.randint(1,31)
    n = random.randint(30,100)
    s2="August "+str(m)
    tempProf_aug[s2]=n
for tempProf in (tempProf_july, tempProf_aug):
    for key, value in tempProf.items():
        july_aug_temp[key].append(value)
print("Day\t\t Temperature")
for day,temp in july_aug_temp.items():
    print(day," \t",temp[0])
for days in july_aug_temp:
    sumTemp+=july_aug_temp[days][0]
    count+=1
    avg=float(sumTemp)/count
print("The average temperature of july and august is %.2f"%avg)

Day		 Temperature
July 10  	 92
July 4  	 69
July 5  	 95
July 15  	 42
July 22  	 86
July 2  	 35
July 9  	 53
July 6  	 92
July 8  	 60
August 9  	 62
August 4  	 83
August 1  	 95
August 20  	 52
August 31  	 53
August 28  	 62
August 2  	 84
August 5  	 74
August 7  	 89
The average temperature of july and august is 71.00

# **POST LAB**

### Write a python program, that repeatedly asks the user to enter product names and prices. Store all of them in a dictionary whose keys are product names and values are prices. And also write a code to search an item from the dictionary.

In [ ]:
#RA2111003010298

d = {}
ans = "y"
while ans == "y" or ans == "Y" :
    p_name = input("Enter the product name: ")
    p_price = float(input("Enter product price: "))
    d[p_name] = p_price
    ans = input("Do you want to enter more product names? (y/n): ")

ans = "y"
while ans == "y" or ans == "Y" :
    p_name = input("Enter the product name to search: ")
    print("Price:", d.get(p_name, "Product not found"))
    ans = input("Do you want to know price of more products? (y/n): ")

Enter the product name: milk
Enter product price: 30
Do you want to enter more product names? (y/n): y
Enter the product name: egg
Enter product price: 40
Do you want to enter more product names? (y/n): n
Enter the product name to search: egg
Price: 40.0
Do you want to know price of more products? (y/n): n

### Write a Python program to get the maximum and minimum value in a dictionary.

In [ ]:
#RA2111003010298

my_dict = {'x':500, 'y':5874, 'z': 560}
key_max = max(my_dict.keys(), key=(lambda k: my_dict[k]))
key_min = min(my_dict.keys(), key=(lambda k: my_dict[k]))
print('Maximum Value: ',my_dict[key_max])
print('Minimum Value: ',my_dict[key_min])

Maximum Value:  5874
Minimum Value:  500